
<table class="table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Età</th>
        <th>Sesso</th>
        <th>Segni Particolari</th>
        <th>Note</th>
        <th>Azioni</th>
    </tr>
   
    <tr *ngFor="let hero of heroes">
        <td>{{hero.id}}</td>
        <td>{{hero.name}}</td>
        <td>{{hero.age}}</td>
        <td>{{hero.sex}}</td>
        <td>{{hero.specialSign}}</td>
        <td>{{hero.notes}}</td>
        <td><img src="/assets/images/edit.svg" (click)="addEdit()">
        <td><img src="/assets/images/show.svg" (click)="show()">
        <td><img src="/assets/images/trash.svg"(click)="eliminate()">
        

    </tr>
</table>

  