<p>SUPEREROI</p>
<div>
    <label>
        Username:
        <input Username placeholder="username" />
    </label>
  </div>
  <div>
    <label>
        Password:
        <input Password placeholder="password" />
    </label>
  </div>
<button (click)="goToListSuperHero('heroes')">Entra
</button>